<div>
    
    <div class="bg-blue-100">
        <div class="flex-col ">
        <div class="md:flex  justify-center">
        
            <img class="p-8 object-contain  rounded-xl" src="https://ziplinelogistics.com/wp-content/uploads/2019/02/best-by-food-beverage-e1612397879396.jpg">
        
            <div class="flex-col mt-2 md:mt-8 justify-center" >
            <h1 class="text-4xl p-4 text-center">Welcome to <span style="font-family: 'Rampart One', cursive;"> Expiration Generator!</span></h1>
                <p class="px-8 mx-8 text-lg">The way expiration dates are currently printed on food packaging make it incredibly dificult to locate
            and tend to easily smudge. An easy solution to this problem is printing a qr-code that when scanned will tell you the expiration date. No more guesswork on whether the number printed is a 5 or a 3, 
            or other problems that come with the traditional way of printing expiration dates.  </p>
            </div>   
        </div>
            <h2 class="text-center mt-4 text-2xl">How it Works</h2>
            <div class="flex grid-cols-2 m-8">
          <div class="mx-8 basis-1/2">
            <p>1. Create a new user. Make sure to sign up with your company's name because it will show on every page your qr code links to</p>
            <p class="mt-4 ">2. Once you're logged, in add your company's logo</p>
            </div>
            <div class="mx-2 md:mx-8 basis-1/2">
            <p>3. Start creating your QR Codes! All you need to add is your product name and expiration date and we'll do the rest</p>
            <p class="mt-4">4. Once you've created your first QR code you'll see it on your profile page with the options to view the generated page, edit the information inputed and download the image</p>
            </div>
            </div>
    <p class="font-medium text-center">Each QR code will link to a page that displays your company name, logo, and of course the expiration date you entered. </p>    
        </div>
    </div>
</div>